<!doctype html>
<html>
  <head>
    <title>bible-api.com</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <style>
      dd { margin: 0 0 15px 0; }
      table { border-collapse: collapse; }
      th, td { text-align: left; border: 1px solid #ccc; padding: 5px; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
